<div class="input-form">
  <div class="input-form-inner">
    <%= form_for(@user) do |f| %>
      <%= render 'layouts/error_messages', object: @user %>

      <%= f.label :Username %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :Email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :Password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit 'Sign up for GitClub', class: 'btn btn-primary' %>

    <% end %>
  </div>
</div>
