<div class="central">
  <div class="central-inner">
    <div class="central-text">
      <div class="cental-text-top">Built for developers</div>
      <div class="central-text-bottom">
        <p>
          GitHub is a development platform inspired by the way you work. From open source to business, you can host and review code,   manage projects, and build software alongside millions of other developers.
        </p>
      </div>
    </div>
    <div class="input-form">
      <div class="input-form-inner">
        <%= form_for('#') do |f| %>
          <% if flash[:alert].present? %>
            <p class="alert alert-danger"><%= flash[:alert] %></p>
          <% end %>

          <div class="table-row">
            <div class="table-cell name"><%= f.label 'Username' %></div>
          </div>
          <div class="table-row">
            <div class="table-cell"><%= f.text_field :name %></div>
          </div>

          <div class="table-row">
            <div class="table-cell name"><%= f.label 'Email' %></div>
          </div>
          <div class="table-row">
            <div class="table-cell"><%= f.email_field :email %></div>
          </div>

          <div class="table-row">
            <div class="table-cell name"><%= f.label 'Password' %></div>
          </div>
          <div class="table-row">
            <div class="table-cell"><%= f.password_field :password %></div>
          </div>

          <div class="table-row">
            <div class="table-cell"><%= f.submit 'Sign up for GitClub', class: 'btn btn-primary' %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
