<div class="container">
  <div class="sign-in-page">
    <div class="join-gitclub-head">
      <h1>Join GitClub</h1>
      <p class="lead">The best way to design, build, and ship software.</p>
    </div>
    <div class="steps-block">
      <div class="steps">
        <strong>Step 1:</strong>
        <p>Create personal account</p>
      </div>
      <div class="steps">
        <strong>Step 2:</strong>
        <p>Choose your plan</p>
      </div>
      <div class="steps">
        <strong>Step 3:</strong>
        <p>Tailor your experience</p>
      </div>
    </div>
    <div class="row personal-account">
      <div class="col-md-6">
        <h2>Create your personal account</h2>
        <div class="sign-in-table">
          <%= form_for(@user) do |f| %>
            <%= render 'layouts/error_messages', object: @user %>
            <%= f.label :Username %>
            <%= f.text_field :name, class: 'form-control' %>

            <%= f.label :Email %>
            <%= f.email_field :email, class: 'form-control' %>

            <%= f.label :Password %>
            <%= f.password_field :password, class: 'form-control' %>

            <div class="join-gitclub-info">
              <p>By clicking on "Create an account" below, your are agreeing
                to the <%= link_to "Terms of Service", '#' %> and the
                <%= link_to "Privacy Policy", '#' %> </p>
            </div>

            <%= f.submit 'Create an account', class: 'btn btn-primary' %>

          <% end %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="love-gitclub-table">
          <h4><strong>You'll love GitClub</strong></h4>
        </div>
        <div class="love-gitclub-table">
          <p><strong>Unlimited</strong> collaborators</p>
          <p><strong>Unlimited</strong> public repositories</p>
        </div>
        <div class="love-gitclub-table">
          <p>
            <svg aria-hidden="true" class="octicon octicon-check" height="16" version="1.1" viewBox="0 0 12 16" width="12">
              <path fill-rule="evenodd" d="M 12 5 l -8 8 l -4 -4 l 1.5 -1.5 L 4 10 l 6.5 -6.5 Z"></path>
            </svg>
            Great communication
          </p>
          <p>
            <svg aria-hidden="true" class="octicon octicon-check" height="16" version="1.1" viewBox="0 0 12 16" width="12">
              <path fill-rule="evenodd" d="M 12 5 l -8 8 l -4 -4 l 1.5 -1.5 L 4 10 l 6.5 -6.5 Z"></path>
            </svg>
            Frictionless development
          </p>
          <p>
            <svg aria-hidden="true" class="octicon octicon-check" height="16" version="1.1" viewBox="0 0 12 16" width="12">
              <path fill-rule="evenodd" d="M 12 5 l -8 8 l -4 -4 l 1.5 -1.5 L 4 10 l 6.5 -6.5 Z"></path>
            </svg>
            Open source community
          </p>
        </div>
      </div>
    </div>
  </div>
</div>