<nav class="menu" data-pjax>
  <%= link_to "Pulse", pulse_path, class: "js-selected-navigation-item selected menu-item", role: "tab" %>
  <%= link_to "Contributors", contributors_path, class: "js-selected-navigation-item selected menu-item", role: "tab" %>
  <%= link_to "Community", community_path, class: "js-selected-navigation-item selected menu-item", role: "tab" %>
  <%= link_to "Traffic", traffic_path, class: "js-selected-navigation-item selected menu-item", role: "tab" %>
  <%= link_to "Commits", commits_path, class: "js-selected-navigation-item selected menu-item", role: "tab" %>
  <%= link_to "Code frequency", code_frequency_path, class: "js-selected-navigation-item selected menu-item", role: "tab" %>
  <%= link_to "Dependency graph", dependency_graph_path, class: "js-selected-navigation-item selected menu-item", role: "tab" %>
  <%= link_to "Network", network_path, class: "js-selected-navigation-item selected menu-item", role: "tab" %>
  <%= link_to "Forks", forks_path, class: "js-selected-navigation-item selected menu-item", role: "tab" %>
</nav>