<div class="settings-nav">
  <div class="settings-nav-head">Personal settings</div>
  <div class="settings-nav-links"><%= link_to "Profile", "#" %></div>
  <div class="settings-nav-links"><%= link_to "Account", "#" %></div>
  <div class="settings-nav-links"><%= link_to "Emails", "#" %></div>
  <div class="settings-nav-links"><%= link_to "Notifications", "#" %></div>
  <div class="settings-nav-links"><%= link_to "Notifications", "#" %></div>
  <div class="settings-nav-links"><%= link_to "SSH and GPG keys", "#" %></div>
  <div class="settings-nav-links"><%= link_to "Security", "#" %></div>
  <div class="settings-nav-links"><%= link_to "Blocked users", "#" %></div>
  <div class="settings-nav-links"><%= link_to "Repositories", "#" %></div>
  <div class="settings-nav-links"><%= link_to "Organizations", "#" %></div>
  <div class="settings-nav-links"><%= link_to "Saved replies", "#" %></div>
  <div class="settings-nav-links"><%= link_to "Applications", "#" %></div>
  <div class="settings-nav-links" style="border: none"><%= link_to "Developer settings", "#" %></div>
</div>