<div class="top">
  <div id="central-block">
    <div class="icon"><%= link_to("", "#") %></div>
    <div class="menu-links"><%= link_to("Features", "#") %></div>
    <div class="menu-links"><%= link_to("Business", "#") %></div>
    <div class="menu-links"><%= link_to("Explore", "#") %></div>
    <div class="menu-links"><%= link_to("Marketplace", "#") %></div>
    <div class="menu-links"><%= link_to("Pricing", "#") %></div>
    <div class="input-or-regist">
      <div class="menu-links"><%= link_to("Sing In", "#") %></div>
      <div class="menu-links color-gray">or</div>
      <div class="menu-links"><%= link_to("Sing Up", "#") %></div>
    </div>
  </div>
</div>
