<!DOCTYPE html>
<html>
  <head>
    <title>Gitclub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico">
  </head>

  <body>
    <div class="top">
      <div id="central-block">
        <div class="icon"><%= link_to("", "#") %></div>
        <div class="menu-links"><%= link_to("Features", "#") %></div>
        <div class="menu-links"><%= link_to("Business", "#") %></div>
        <div class="menu-links"><%= link_to("Explore", "#") %></div>
        <div class="menu-links"><%= link_to("Marketplace", "#") %></div>
        <div class="menu-links"><%= link_to("Pricing", "#") %></div>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
